@import "../../global.scss";
.intro{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $mainColor),
    color-stop(100%, $white));
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .left{
        flex: 0.5;
        .imageContainer{
            height: 500px;
            width: 500px;
            background-color: crimson;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            @include mobile{
                align-items: flex-start;
            }

            img{
                height: 80%;

                @include mobile{
                    height: 70%;
                }
            }
        }
    }
    .right{
        flex: 0.5;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
            }
            h1{
                font-size: 60px;
                margin: 10px 0;
            }
            h2{
                font-size: 35px;
            }
            h3{
                font-size: 30px;
                height: 40px;
                span{
                    font-size: inherit;
                    margin: 10px 0;
                }
                .ityped-cursor {
                    animation: blink 1s infinite;
                }
                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 40%;

            img{
                width:30px;
                animation: arrowBlink 3s infinite;
            }
            @keyframes arrowBlink {
                50%{
                    opacity: 0;
                }
            }
        }
    }
}